// Variables
// -----------------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Lato:400,600);

$red:             #e74c3c;
$blue:            #3498db;
$green:           #27ae60;
$yellow:          #f1c40f;
$gray:            #34495e;
$blue-light:      #EFF5F9;

$link-color:      #4697c6;
$border-color:    #cee3f0;

$text-color:      #333333;

$font-primary: 'Open Sans', arial, sans-serif;
$font-secondary: 'Lato', arial, sans-serif;