// Styles for the Maintenance page.
// -----------------------------------------------------------------------------
body.maintenance-page {
  #branding {
    background-color: $blue;
    min-height: 52px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    padding: 0 20px;
    z-index: 1000;

    h1 {
      color: white;
      width: auto;
      padding: 0;
      font-size: 1.2em;
      line-height: 52px;
    }
  }

  #page {
    padding: 20px;
    width: 800px;
    margin: 20px 0;
    border-radius: 2px;

    #sidebar-first {
      position: fixed;
      top: 50px;
      bottom: 0;
      left: 0;
      background-color: white;
      border-right: 1px solid #e0e0e0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      padding: 20px;
      width: 250px;
    }

    #content {
      width: auto;
      padding: 0;
      float: none;
      margin-left: 270px;
    }

    footer {
      text-align: center;
      padding: 20px 0;
    }
  }

  .page-header {
    overflow: hidden;

    .page-title {
      float: left;
      font-size: 2.4em;
    }

    .page-steps {
      float: right;
    }
  }

  // Tasks.
  // --------------------------------------------------
  .tasks-list {
    > div {
      margin-bottom: 15px;
      opacity: 0.5;

      h6 {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 0px;
      }

      h4 {
        margin-top: 0;
        font-size: 16px;
      }
      &.active,
      &.done {
        color: black;
        opacity: 1.0;
      }
    }
  }

  // Theme selection form.
  #panopoly-theme-selection-form {
    .form-type-radio {
      margin: 0 0 2em;
      label {
        display: block;
      }
      .form-radio {
        margin: 0;
        left: 0;
        top: 40%;
      }
    }
  }
}