// Styles for Tabs, Messages, ..etc
// -----------------------------------------------------------------------------

// Well
.well {
  border: 1px solid $border-color;
  padding: 15px;
  border-radius: 2px;
  margin: 15px 0;
}

// Messages
// -----------------------------------------------------------------------------
.messages {
  padding: 10px 15px !important;
  border-radius: 2px;
  &.status {
    background: lighten($green, 50);
    border: 1px solid lighten($green, 30);
  }
  &.error {
    background: lighten($red, 40);
    border: 1px solid lighten($red, 10);
  }
  &.warning {
    background: lighten($yellow, 40);
    border: 1px solid lighten($yellow, 10);
  }
}

// UI Overlay.
// -----------------------------------------------------------------------------
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.7) !important;
}

// UI Diablog.
// -----------------------------------------------------------------------------
.ui-dialog {
  width: 1000px !important;
  border-radius: 2px;
  .ui-dialog-titlebar {
    background: $gray;
    color: #ecf0f1;
    overflow: hidden;
    padding: 10px 20px;
    height: 48px;
    border-radius: 2px 2px 0 0;
  }
  .ui-dialog-titlebar-close {
    border: 0;
    background: image-url('icon/icon-close-popup.png') no-repeat left top;
    cursor: pointer;
    height: 15px;
    width: 16px;
    overflow: hidden;
    float: right;
    margin: 6px 0 0;
    &:hover {
      background-position: left bottom;
    }
    span {
      display: none;
    }
  }
  .ui-widget-content {
    border: 0;
    .container {
      margin: 0;
      width: auto;
      padding: 0 20px;
    }
  }
}

// UI Tabs.
// -----------------------------------------------------------------------------
.ui-tabs {
  ul.ui-tabs-nav {
    bottom: 0;
    li {
      padding: 0;
      margin: 0 2px;
    }
  }
}